html,
body {
	border: none;
	background: #FCFCFC;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', Arial, sans-serif;
}

/* Override Bootstrap negative margins mechanism */
.container-fluid {
	padding: 0;
}
.row {
	padding: 0;
	margin: 0;
}
.container-fluid > div {

}
.header {
	padding: 10px;
	.logo {
		text-align: center;
		margin: 15px;

		span.fa,
		p.brandname,
		p.catch {
			text-transform: uppercase;
		}
		span.fa {

		}
		p.brandname, p.catch {
			font-family: 'Prociono', Arial, sans-serif;
		}
		p.brandname {
			font-size: 2.5rem;
			font-weight: 800;
			margin: 5px 0 0;
		}
		p.catch {
			font-size: 1.2rem;
			font-style: italic;
			&::before,
			&::after {
				content: ' -- ';
			}
		}

	}
	.header-right {
		padding-top: 65px;
		padding-left: 100px;
		& > * {
			display: inline-block;
			vertical-align: middle;
			margin: 5px;
			color: #aaa;
		}
		p.contact-us {
			font-weight: bold;
			margin: 0 15px 0 5px;
		}
		.social {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			background: #CCC;
			margin: 5px;
			width: 35px;
			height: 35px;
			color: white;
			&:hover {
				background: hsl(200, 60%, 70%);
				cursor: pointer;
			}
			div {
				position: absolute;
				margin: auto;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 25px;
				height: 26px;
			}
		}
	}
}
.banner {
	height: 200px;
	background: rgba(0, 0, 0, 0.05);
}
.featured {

}
.split {

}
.news {

}
.artworks {

}
.bottom {

}
.social {

}
.footer {

}
