@bkg: #FCFCFC;
@h-200: hsl(200, 70%, 60%);
@h-220: hsl(220, 70%, 60%);

html,
body {
	border: none;
	background: @bkg;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', Arial, sans-serif;
}

/* Override Bootstrap negative margins mechanism */
.container-fluid {
	padding: 0;
}
.row {
	padding: 0;
	margin: 0;
}
/* Generic style */
.tile,
.custom-button,
.tag {
	text-transform: uppercase;
	text-align: center;
	padding: 10px 15px;
}
.tile {
	background: @h-200;
	padding: 15px;
	color: white;
	font-weight: bold;
}
.custom-button {
	background: none;
	color: @h-200;
	border: solid 2px @h-200;
	&:hover {
		cursor: pointer;
		background: @h-200;
		color: white;
	}
}
.tag {
	padding: 10px;
	p {
		background: #CCC;
		color: white;
		padding: 10px 15px;
		text-transform: uppercase;
		text-align: center;
	}
}
.categ-head {
	hr {
		margin-top: 25px;
	}
}

/* Specific style */
.header {
	padding: 10px;
	.logo {
		text-align: center;
		margin: 5px 0 0;

		span.fa,
		p.brandname,
		p.catch {
			text-transform: uppercase;
		}
		span.fa {

		}
		p.brandname, p.catch {
			font-family: 'Prociono', Arial, sans-serif;
		}
		p.brandname {
			font-size: 2.5rem;
			font-weight: 800;
			margin: 5px 0 0;
		}
		p.catch {
			font-size: 1.2rem;
			font-style: italic;
			margin-bottom: 0;
			&::before,
			&::after {
				content: ' -- ';
			}
		}

	}
	.header-right {
		padding-top: 45px;
		padding-left: 100px;
		& > * {
			display: inline-block;
			vertical-align: middle;
			margin: 5px;
			color: #aaa;
		}
		p.contact-us {
			font-weight: bold;
			margin: 0 15px 0 5px;
		}
		.social {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			background: #CCC;
			margin: 5px;
			width: 35px;
			height: 35px;
			color: white;
			&:hover {
				background: @h-200;
				cursor: pointer;
			}
			div {
				position: absolute;
				margin: auto;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 25px;
				height: 26px;
			}
		}
	}
}
.banner {
	position: relative;
	.mainpic {
		background-image: url('img/orb.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		height: 600px;
		min-height: 600px;
		p {
			text-align: center;
			text-transform: uppercase;
			color: white;
			font-weight: bold;
			&:nth-of-type(1) {
				padding-top: 250px;
				font-size: 6rem;
			}
			&:nth-of-type(2) {
				margin-top: -25px;
				font-size: 5rem;
			}
		}
	}
	.menu {
		position: absolute;
		top: 0;
		height: 90px;
		width: 100%;
		background: rgba(255, 255, 255, 0.5);
		& > div {
			text-align: center;
		}
		& > div > div {
			h3,
			.search {
				margin: 25px 30px;
				display: inline-block;
				vertical-align: middle;
			}
			h3 {
				text-transform: uppercase;
				font-size: 2rem;
				color: white;
				max-width: 200px;
				text-align: left;
				&:hover {
					color: @h-200;
					cursor: pointer;
				}
			}
			.search {
				margin-top: 20px;
				padding-top: 5px;
				position: relative;
				input {
					border-radius: 10px;
					height: 40px;
					border: none;
					color: #BBB;
					padding-left: 10px;
				}
				span.fa {
					position: absolute;
					right: 10px;
					top: 10px;
					color: #BBB;
				}
			}
		}
	}
}
.featured {
	padding: 30px 0;
	margin-bottom: 40px;
	.unit {
		margin-top: 20px;
		.left-catch {
			position: relative;
			min-height: 500px;
			background-image: url('img/starofstars.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 150%;
			.tile {
				position: absolute;
				top: 50px;
				left: 70px;
				padding: 10px 30px;

			}
			p.meetup {
				color: white;
				font-size: 5rem;
				max-width: 100px;
				position: absolute;
				top: 300px;
				left: 70px;
				text-transform: uppercase;
			}

		}
		p.intro {
			font-weight: bold;
		}
		p.content {

		}
	}
}
.split {
	background-color: black;
	background-image: url('img/playchaos.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 50%;
	height: 200px;
	position: relative;

	.such-inspiration {
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 600px;
		height: 75px;
		p {
			text-transform: uppercase;
			font-size: 50px;
			display: inline-block;
			vertical-align: middle;
			padding: 0 10px;
			border: solid 3px @h-200;
			&:nth-of-type(1) {
				font-weight: bold;
				background: @h-200;
				color: black;
			}
			&:nth-of-type(2) {
				color: @h-200;
				margin-left: -5px;
			}
		}
	}
}
.news {
	margin: 40px 0;
	padding: 30px 0;
	.news-unit {
		margin-top: 20px;
		.preview {
			min-height: 400px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 150%;

		}
		.tags {
			margin-left: -10px;
			margin-top: 5px;
			.tag {

			}
		}
		.content {
			h4 {
				text-transform: uppercase;
				font-size: 2.5rem;
			}
			p {
				max-height: 100px;
				font-size: 1.7rem;
			}
		}
		.readmore {
			margin-top: 25px;
			margin-left: -15px;
		}

	}

}
.artworks {
	padding: 50px 0;
	background: #EEE;
	.categ-head hr {
		border-color: #DDD;
	}
	.hexblock {
		height: 400px;
		background: rgba(0, 0, 0, 0.3);
	}
}
.bottom {
	padding: 50px 0;
	background: #DDD;
	p.tile {
		max-width: 33%;
		margin-bottom: 40px;
	}
	.doc {
		.line {
			margin: 15px 0;
		}
		.icon {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			width: 30px;
			height: 30px;
			span.fa {
				position: absolute;
				&:nth-of-type(1) {
					color: #AAA;
					top: 0;
					left: 0;
				}
				&:nth-of-type(2) {
					color: @h-200;
					bottom: -3px;
					right: 0;
				}
			}

		}
		hr {
			border-color: #D5D5D5;
		}
		.actiontext {
			color: #555;
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;
			max-width: 80%;
			p {
				margin: 0;
			}
		}
	}
	.newsletter {

	}
}
.social {

}
.footer {
	margin-bottom: 100px;
}
